* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.right-side{
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 15px;
}

.hero-section .right-side {
    flex-direction: column;
    align-items: flex-start;
}

img {
    width: 350px;
    height: 426px;
}

.main {
    display: flex;
}

.hero-section {
    justify-content: space-around;
    align-items: center;
}

.hero-section .hero-img {
    display: flex;
    justify-content: flex-end;
}

.main-head-section {
    text-align: center;
}

.design {
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(85, 85, 85, 0.244) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 27px 25px 35px;
    border-radius: 15px;
    height: 318.5px;
    width: 380px;
    margin: 15px;
  
}

.second-about-image {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 15px;
}

.left-features {
    text-align: center;
}

.left-side ul li a {
    text-decoration: none;
    color: black;
    justify-content: center;
    
}
.hr {
    width: 1348px;
    height: 57.42px;
}

.main-features{
    display: flex;
    align-items: center;
    justify-content: center;
}

